.communityContainer {
  text-align: center;
  margin: 100px;
}
.communityContainer .text {
  color: #696767;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  max-width: 550px;
}
.communityContainer .boldTitle {
  font-weight: 600;
}
.communityContainer a {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  border-radius: 10px;
  padding: 5px 25px;
  background-color: #6AA94E;
}
.communityContainer .icon {
  position: relative;
  margin-right: 15px;
}